<!--Temporary project application page David sent to Cheng for testing-->

<h4> Project Choice </h4>

<p> Please go through the projects available
    <a 
        href="https://www.w3schools.com/"
        target="_blank" rel="noopener noreferre">
        here</a>
    <b> (REPLACE WITH ACTUAL LINK) </b>
</p>

<small><b> Note: </b> Please note that some of the usual projects are not 
    available as the program has now moved to an online mode. 
</small> 


<br>

<p> You can select up to 2 different projects 
    from the same or different supervisor(s). </p> 
<p> Enter the names of the projects you want below, 
    along with how long you are planning to do the project for.</p> 
<p> If you wish to do beyond the standard 8 weeks, 
    please ensure that you have contacted the supervisor beforehand. </p>


<p>
    <b> Project Choice 1: </b> 
    <small> (First preference) </small>

    <br> 
    <input type="text" id="proj1" name="proj1" value="">
    <select name="proj1time" id="proj1time">
        <option value="8wks">8 weeks (standard)</option>
        <option value="8to12wks">8 - 12 weeks</option>
    </select>
</p>

<p>
    <b> Project Choice 2: </b> 
    <small> (Second preference) </small>

    <br>
    <input type="text" id="proj2" name="proj2" value="">
    <select name="proj2time" id="pro2   1time">
        <option value="8wks">8 weeks (standard)</option>
        <option value="8to12wks">8 - 12 weeks</option>
    </select>
</p>

<b> (ADD VALIDATION OF PROJECT - use partial string match, ignore case) </b>