
{% extends "templ/proj-list.html" %}

<!--Heading-->
{% block heading %}
Manage Your Projects
{% endblock %}

<!--Table headings-->
{% set table_headings = 
[
"Project Title", 
"Edit",
"View Applications"
] 
%}

<!--Table rows-->
{% block table_rows %}

<!--Add projects as rows-->
{% for project in projects %}
<tr class="project-row">

    <!--Title-->
    <td class="project-td">
        {{ project.title }}
    </td>

    <!--Some key fields-->

    <!--View button -->
    <td class="project-td" style="text-align: center;">
        <a class="hover-button" 
           href="{{ url_for('student_view', 
           pid=project.id, 
           username = current_user.name) }}">
            Edit
        </a>
    </td>

    <!--Unapply button-->
    <td class="project-td" style="text-align: center;">
        <a class="hover-button" 
           href="{{ url_for('student_unapply', 
           pid=project.id, 
           username = current_user.name) }}">
            View Applications
        </a>
    </td>
</tr>
{% endfor %}

{% endblock %}



<!--Under table-->
{% block under_table %}



{% endblock %}


<!--No projects message-->
{% block no_projects %}
<br>
<p>
    You have not applied for any projects yet
    <br>
    <br>
    To apply for projects, go 
    <a href={{ url_for('student_explore', 
       username=current_user.name) }}>
        here</a>.
</p>
<br>
{% endblock %}


<!--Set link for back button-->
{% set backlink %}{{ url_for('index') }}{% endset %}