
{% extends "base.html" %}

{% block content %}
<br>
View Student Applications

<br><br>
<b>IDEAS</b>:
<br>
If we do my way:
Student Name | Examine | Accept | Deny
<br>
<br>
better way:
<br>
Myadmin kind of table
<br>
Somehow integrate from Mang's stuff, or redirect ??
<br>
Add Accept and Deny actions
<br>
Store accept/deny in student database?
<br>
   - proj1_accepted = T or F
<br>
   - proj2_accepted = T or F
<br>
Only let supervisor add students equal to limit

<table class="project-table">

   <!--Add table headings-->
   <tr class="project-row">

       <th class="project-th">
           Student Name
       </th>
       <th class="project-th">
         Examine
      </th>
      <th class="project-th">
         Accept
      </th>
      <th class="project-th">
         Deny
     </th>
   </tr>


</table>

{% endblock %}