{% extends "base.html" %}

{% block content %}
<div style="text-align: center; margin-top: 5%;">
  <!-- <h1>Sign In</h1> -->
 <h1>Forgot Your Password?</h1>
  <br /> 
  <form class="form-signin" role="form" method="post" action="">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <p >
      <!-- {{ form.email.label }}<br> -->
      {{ form.email(size=32, placeholder=form.email.label.text) }}<br>
      <span class="error">
        {% if form.email.errors %}
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {% endif %}
      </span>
    </p>
     
    <!-- <p class="reset">{{ form.submit() }}</p> -->
    <button class="btn btn-success" type="submit">Reset your password</button>

    <br>
    <!-- #<p><a class="register" href="{{ url_for('register') }}">Click to Register!</a></p> -->
   
  </form>
</div>
 

{% endblock %}