
<!-- This page extends supervisor/question-base.html -->
{% extends "application/supervisor/question-base.html" %}

<!-- Question HTML -->
{% block question %}
<h4> Supervisor details </h4>
<label for="supName"> Main supervisor's title and name (Please use Prof or Dr) ie. Professor John Smith: </label>
<br>
<input type="text" id="supName" name="supName" value="">
<br>

<label for="coSupName"> Co-supervisor(s) title and name (ie. Dr Mike Brown and Beth Doe PhD Candidate) </label>
<br>
<input type="text" id="coSupName" name="coSupName" value="">
<br>



{% endblock %}