
<!-- This page extends supervisor/question-base.html -->
{% extends "application/supervisor/question-base.html" %}

<!-- Question HTML -->
{% block question %}
<h4> Supervisor details </h4>
<label for="skills"> What specific skills, knowledge or experience will the student need to complete the project? (i.e. Name specific programming skills like JAVA, or completion of a unit, such as statistical physics or introduction to Chemistry). </label>
<br>
<input type="text" id="skills" name="skills" value="">
<br>

{% endblock %}