
<!-- This page extends supervisor/question-base.html -->
{% extends "application/supervisor/question-base.html" %}

<!-- Question HTML -->
{% block question %}
<h4> Project details </h4>
<label for="projEmail"> Contact email (if students have any questions regarding the project ONLY. PLEASE DO NOT DISCUSS ACCEPTANCE INTO THE PROGRAM OR AGREE TO ACCEPT ANY STUDENT) </label>
<br>
<input type="text" id="projEmail" name="projEmail" value="">
<br>

<label for="projLocation">  </label>Is this project done on Crawley campus? (If no, please indicate where and how much time will be spent on and off campus). This is for accommodation arrangements.
Yes, 90% or more
No, student will need to spend time off campus
<br>
<input type="text" id="projLocation" name="projLocation" value="">
<br>


<label for="projEmail"> Contact email (if students have any questions regarding the project ONLY. PLEASE DO NOT DISCUSS ACCEPTANCE INTO THE PROGRAM OR AGREE TO ACCEPT ANY STUDENT) </label>
<br>
<input type="text" id="projEmail" name="projEmail" value="">
<br>

<label for="projUni"> If this project is specific to students from a specific university, WUN or MNU university, please specify. If left blank, the project will be open to all students </label>
<br>
<input type="text" id="projUni" name="projUni" value="">
<br>

<label for="projLength"> Standard length of program is 8 weeks. If you need the student to stay beyond 8 weeks or give the option to do so, please specify number of weeks. Maximum for a tourist VISA is 12 weeks. Student will still have to follow the program schedule. </label>
<br>
<input type="text" id="projLength" name="projLength" value="">
<br>


<p> How many students would you accept<p>

    <input type="radio" id="1students" name="1students" value="1">
    <label for="1student"> 1 </label>
    <br>

    <input type="radio" id="2students" name="2students" value="2">
    <label for="2students"> 2 </label>
    <br>


    <input type="radio" id="3students" name="3students" value="3">
    <label for="3students"> 3 </label>
    <br>

    <input type="radio" id="4students" name="4students" value="4">
    <label for="4students"> 4 </label>
    <br>

    <input type="radio" id="5students" name="5students" value="5">
    <label for="5students"> 5 </label>
    <br>


    <input type="radio" id="6students" name="6students" value="6">
    <label for="6students"> 6 </label>
    <br>


    <input type="radio" id="7students" name="7students" value="7">
    <label for="7students"> 7 </label>
    <br>

    <input type="radio" id="8students" name="8students" value="8">
    <label for="8students"> 8 </label>
    <br>

    <input type="radio" id="other-option" name="otherstudent" value="other">
<label for="other-option">8+</label>
<input type="text" id="other-option" name="otherstudent" value="">
<br>
{% endblock %}