
<!-- This page extends supervisor/question-base.html -->
{% extends "application/supervisor/question-base.html" %}

<!-- Question HTML -->
{% block question %}
<h4> Project details </h4>
<label for="keyWords"> Keywords (5 keyword (no more than 5) that best describe your project ie. Arts, Music, Instrument, Piano, Notes) This feature is to help students find projects as all faculties are invited, maybe a student might be in School of Music in their home university but a suitable project is offered from the Faculty of Engineering at UWA for example. </label>
<br>
<input type="text" id="keyWords" name="keyWords" value="">
<br>

{% endblock %}