
<!-- This page extends supervisor/question-base.html -->
{% extends "application/supervisor/question-base.html" %}

<!-- Question HTML -->
{% block question %}
<h4> How many research projects are you submitting? </h4>
<input type="radio" id="noProjects1" name="numberOfProjects" value="1">
<label for="noProjects1">1</label>
<br>
<input type="radio" id="noProjects2" name="numberOfProjects" value="2">
<label for="noProjects2">2</label>
<br>
<input type="radio" id="noProjects3" name="numberOfProjects" value="3">
<label for="noProjects3">3</label>
<br>
<input type="radio" id="noProjects4" name="numberOfProjects" value="4">
<label for="noProjects4">4</label>
<br>
<input type="radio" id="noProjects5" name="numberOfProjects" value="5">
<label for="noProjects5">5</label>
<br>
<input type="radio" id="noProjects6" name="numberOfProjects" value="6">
<label for="noProjects6">6</label>
<br>
<input type="radio" id="noProjects7" name="numberOfProjects" value="7">
<label for="noProjects7">7</label>
<br>
<input type="radio" id="noProjects8" name="numberOfProjects" value="8">
<label for="noProjects8">8</label>
<br>
<input type="radio" id="noProjects9" name="numberOfProjects" value="9">
<label for="noProjects9">9</label>
<br>
<input type="radio" id="noProjects10" name="numberOfProjects" value="10">
<label for="noProjects10">10</label>

{% endblock %}