{% extends "base.html" %}

{% block content %}

<br>

<table class="table table-striped table-hover">
    <tr>
        <th>Project title</th>
        <th>Main supervisor</th>
        <th>Email</th>
        <th>Keywords</th>
    </tr>

    <tr>
        <td><a href = "{{ url_for('single_project') }}">Build a robot</a></td>
        <td>Cheng</td>
        <td>supervisor1@supervisor.com</td>
        <td>Robot, electricity</td>
    </tr>

    <tr>
        <td>Develop a website</td>
        <td>Jerline</td>
        <td>supervisor2@supervisor.com</td>
        <td>Website, programming</td>
    </tr>
    <!-- for title, main_supervisor, email, keywords in -->

    <!-- Next pull all the project from the database -->
</table>

<h4>
    <a class="hover-button" href="{{ url_for('index') }}"> 
        Go Back Home </a> 
</h4>


{% endblock %}