{% extends "base.html" %}

{% block content %}


<style>

</style>


<br>


<table class="project-table">
    <tr class="project-row">
        <th class="project-th">Project title</th>
        <th class="project-th">Main supervisor</th>
        <th class="project-th">Email</th>
        <th class="project-th">Keywords</th>
    </tr>

    <tr class="project-row">
        <td class="project-td">
            <a href = "{{ url_for('single_project') }}">Build a robot</a>
        </td>
        <td class="project-td" >Cheng</td>
        <td class="project-td">supervisor1@supervisor.com</td>
        <td class="project-td">Robot, electricity</td>
    </tr>

    <tr class="project-row">
        <td class="project-td">Develop a website</td>
        <td class="project-td">Jerline</td>
        <td class="project-td">supervisor2@supervisor.com</td>
        <td class="project-td">Website, programming</td>
    </tr>
</table>

<!-- for title, main_supervisor, email, keywords in -->

<!-- Next pull all the project from the database -->


<h4>
    <a class="hover-button" href="{{ url_for('index') }}"> 
        Go Back Home </a> 
</h4>


{% endblock %}