
<!-- Extend page template -->
{% extends "student/details/templates/page.html" %}

<!-- Question HTML -->
{% block question %}

<!-- Sub heading -->
<label class="personal-details">Personal Details</label>


<!--Title-->
<h4> Title: </h4>
<input type="radio" id="mr" name="title" value="Mr" required >
<label for="mr">Mr</label>
<br>
<input type="radio" id="ms" name="title" value="Ms" required>
<label for="ms">Ms</label>
<br>
{% with name="title" %}
{% include "student/details/templates/custom-rad-but.html" %}
{% endwith %}



<!--Gender-->
<h4> Gender: </h4>
<input type="radio" id="male" name="gender" value="Male" required>
<label for="male">Male</label>
<br>
<input type="radio" id="female" name="gender" value="Female" required>
<label for="female">Female</label>
<br>
{% with name="gender" %}
{% include "student/details/templates/custom-rad-but.html" %}
{% endwith %}



<!--DOB-->
<h4> Date of Birth: </h4>
<input type="date" id="dob" name="dob" required>
<label for="date">(dd/mm/yyyy)</label>


{% endblock %}

