
<!-- Extend page template -->
{% extends "student/details/templates/page.html" %}

<!-- Question HTML -->
{% block question %}

<!-- Sub heading -->
<label class="personal-details">Personal Details</label>

<!--Title-->
<h4> Title: </h4>
<input type="radio" id="mr" name="title" value="mr" required >
<label for="mr">Mr</label>
<br>
<input type="radio" id="ms" name="title" value="ms" required>
<label for="ms">Ms</label>
<br>
<label for="other-option">Other</label>
<input type="text" id="other-title" name="title" 
       value="Enter custom..." required>
<br>

<!--Gender-->
<h4> Gender: </h4>
<input type="radio" id="male" name="gender" value="male" required>
<label for="male">Male</label>
<br>
<input type="radio" id="female" name="gender" value="female" required>
<label for="female">Female</label>
<br>
<label for="other">Other</label>
<input type="text" id="other-gender" name="gender" 
       value="Enter custom..." required>
<br>

<!--DOB-->
<h4> Date of Birth: </h4>
<input type="date" id="dob" name="dob" required>
<label for="date">(dd/mm/yyyy)</label>


{% endblock %}

