
<!-- Extend page template -->
{% extends "student/details/templates/page.html" %}

<!-- Question HTML -->
{% block question %}

<h3> Long Answer Questions </h3>

<!--Q25. in Qualtrics (for when I check that I've included all Qs)-->
<p> 
    <b>Q1.</b> 
    Outline any previous research or laboratory experience that you have. 
    <br>
    Please name that research group and the leader of that research group 
    at your home university. (max 100 words)
    <br>
    <textarea name="longQ1" rows="5" maxlength="50"></textarea>
</p>


<!--Q24. in Qualtrics (for when I check that I've included all Qs)-->
<p> 
    <b>Q2.</b> 
    Explain why your previous experience makes you suited to this project? 
    <br>
    In particular, address any prerequisites that have been 
    outlined by the supervisor. (max 200 words)
    <br>
    <textarea name="longQ2" rows="10" maxlength="50"></textarea>
</p>

<!--Q28. in Qualtrics (for when I check that I've included all Qs)-->
<p> 
    <b>Q3.</b> 
    Why are you interested in this program? (max 200 words)
    <br>
    <textarea name="longQ3" rows="10" maxlength="50"></textarea>
</p>


<!--Q29. in Qualtrics (for when I check that I've included all Qs)-->
<p> 
    <b>Q4.</b> 
    What are your future career plans? (max 200 words)
    <br>
    <textarea name="longQ4" rows="10" maxlength="50"></textarea>
</p>


{% endblock %}