{% extends "templ/form-page.html" %}

<!-- Heading -->
{% block heading %}
<h3> Apply for '{{ project.title }}' </h3>
{% endblock %}

<!--Questions-->
{% block questions %}

<!--Preference-->
<h4> Is this project your first or second preference? </h4>
<p> 
    You can select up to 2 different projects
    from the same or different supervisor(s).
    <br>
    You are more likely to get your first preference,
    but getting your preferences is not guaranteed.
</p>
<select name="proj_pref_{{ proj_count }}" id="pref" required>

    <!--If we are filling in slot 1-->
    {% if proj_count == 1 %}

    <!--Add normal options-->
    <option value="">None</option>
    <option value="1st">First Preference</option>
    <option value="2nd">Second Preference</option>
    {% else %}

    <!--Else if project 1 has been selected,-->
    <!--disable the preference option already selected-->
    {% if first_proj == "1st" %}
    <option value="1st" disabled>First Preference (Already In)</option>
    <option value="2nd">Second Preference</option>
    {% else %}
    <option value="1st">First Preference</option>
    <option value="2nd" disabled>Second Preference (Already In)</option>
    {% endif %}

    {% endif %}


</select>

<!--PREF DECIDED ON SECOND BY ELIMINATION-->

<!--Duration-->
<h4> How long you are planning to do the project for? </h4>
<p> 
    If you wish to do beyond the standard 8 weeks, 
    please ensure that you have contacted the supervisor beforehand. 
</p>
<select name="proj_pref_{{ proj_count }}_dur" id="dur" required>
    <option value="">None</option>
    <option value="8wks">8 Weeks (Standard)</option>
    <option value="8to12wks">8 - 12 Weeks</option>
</select>

<br>
<br>


{% endblock %}
