{% extends "base.html" %}

{% block content %}

<div style="text-align: center; margin-top: 5%;"> 

    <!--Welcome user-->
    <h2>Welcome {{ current_user.name }}</h2>

    <!--Add action buttons-->
    <table class="action-button-table">

        {% for button in buttons %}
        <tr>
            <td>
                <a {{ "href=" + button[1] }}> 
                   <button class="hover-button" type="action">
                    {{ button[0] }}
                    </button>
                </a> 
                {% endfor %}
    </table>

    <!--Logout link -->
    <a href="{{ url_for('logout') }}">Logout</a>

</div>

{% endblock %}