
<!-- Extend page template -->
{% extends "student-appl/templates/page.html" %}

<!-- Question HTML -->
{% block question %}

<!-- Sub heading -->
{% include "student-appl/templates/personal-details.html" %}


<h4> Choose your Country of Birth: </h4>
{% with name="birth-cntry" %}
{% include "student-appl/templates/country-selection.html" %}
{% endwith %}


<h4> Choose your Country of Citizenship: </h4>
{% with name="citizen-cntry" %}
{% include "student-appl/templates/country-selection.html" %}
{% endwith %}


<h4> Home Address: </h4>
<table id="address">
    <tr>
        <td class="label">Street &numero; and Address</td>
        <td class="slimField">
            <input class="field" name="street_addr" />
        </td>
    </tr>

    <tr>
        <td class="label">City</td>
        <td class="wideField" colspan="3">
            <input class="field" name="city"  />
        </td>
    </tr>

    <tr>
        <td class="label">State</td>
        <td class="slimField">
            <input class="field" name="state" />
        </td>
    </tr>

    <tr>
        <td class="label">Postcode</td>
        <td class="wideField">
            <input class="field" name="postcode" />
        </td>
    </tr>

    <tr>
        <td class="label">Country</td>
        <td class="wideField" colspan="3">
            <input class="field" name="country" />
        </td>
    </tr>
</table>
</body>

{% endblock %}