
<!-- Extend page template -->
{% extends "student-appl/templates/page.html" %}

<!-- Question HTML -->
{% block question %}

<!-- Sub heading -->
{% include "student-appl/templates/personal-details.html" %}

<h4> Title: </h4>
<input type="radio" id="mr" name="title" value="mr">
<label for="mr">Mr</label>
<br>
<input type="radio" id="ms" name="title" value="ms">
<label for="ms">Ms</label>
<br>
<input type="radio" id="other-option" name="title" value="other">
<label for="other-option">Other</label>
<input type="text" id="other-text" name="title" value=""><br>

<h4> Gender: </h4>
<form>
    <input type="radio" id="male" name="gender" value="male">
    <label for="male">Male</label><br>

    <input type="radio" id="female" name="gender" value="female">
    <label for="female">Female</label><br>

    <input type="radio" id="other" name="gender" value="other">
    <label for="other">Other</label>
    <input type="text" id="other-gender" name="title" value=""><br>
</form>

<h4> Date of Birth: </h4>
<form>
    <input type="date" id="dob" name="dob">
    <label for="date">(dd/mm/yyyy)</label>
</form>

{% endblock %}

