
<!-- This page extends student/question-base.html -->
{% extends "application/student/question-base.html" %}

<!-- Question HTML -->
{% block question %}
<h4> Home Address: </h4>
<table id="address">
    <tr>
        <td class="label">Street &numero; and Address</td>
        <td class="slimField">
            <input class="field" id="street_addr" />
        </td>
    </tr>

    <tr>
        <td class="label">City</td>
        <td class="wideField" colspan="3">
            <input class="field" id="city"  />
        </td>
    </tr>

    <tr>
        <td class="label">State</td>
        <td class="slimField">
            <input class="field" id="state" />
        </td>
    </tr>

    <tr>
        <td class="label">Postcode</td>
        <td class="wideField">
            <input class="field" id="postcode" />
        </td>
    </tr>

    <tr>
        <td class="label">Country</td>
        <td class="wideField" colspan="3">
            <input class="field" id="country" />
        </td>
    </tr>
</table>
</body>
{% endblock %}