
<!-- This page extends student/question-base.html -->
{% extends "application/student/question-base.html" %}

<!-- Question HTML -->
{% block question %}
<h4> Personal Details </h4>
<p> Title: </p>
<input type="radio" id="mr" name="title" value="mr">
<label for="mr">Mr</label>
<br>
<input type="radio" id="ms" name="title" value="ms">
<label for="ms">Ms</label>
<br>
<input type="radio" id="other-option" name="title" value="other">
<label for="other-option">Other</label>
<input type="text" id="other-text" name="title" value=""><br>
{% endblock %}

