
<!--Extend bootstrap template-->
{% extends "bootstrap/base.html" %}

<!--HTML--> 
<html>

    <!--Header for all pages-->
    {% block head %}

    <!--Applies style.css to every page-->
    <link rel="stylesheet" 
          href="{{ url_for('static', filename='css/style.css') }}">

    <!--Adds favicon to every page-->
    <link rel="shortcut icon" 
          href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!--Logo-->
    <img src="{{ url_for('static', filename='images/uwa_logo.png') }}" 
         alt="UWA Logo" 
         style="max-width:18%; position:absolute;" >

    <!--Title-->
    <div style="text-align: center;">
        <h1>
            <a class="title-button" href="{{ url_for('index') }}">
                Summer Down Under : Research Internship</a>
        </h1>
    </div>

    {% block stylesheets %}
      <!-- Bootstrap css -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    {% endblock stylesheets%}

    {% endblock %}




</html>
