{% extends "base.html" %}

{% block content %}
<h1>Faculty of engineering science</h1>
<div>Main supervisor: Cheng</div>
<div>Co supervisor: N/A</div>
<div>Project title: Build a robot</div>
<div>Group: </div>
<div>Description: Build a robot from scratch</div>
<div>Skills: Being smart</div>
<div>Keywords: Robot, electricity</div>
<div>Contact email:supervisor1@supervisor.com</div>
<div>Project done on Crawley Campus: Yes</div>
<div>Total number of projects offered by supervisor: 1</div>
<div>Total number of places available with supervisor: 3</div>

{% if logged %}
    <button>Apply for this project</button>
{% else %}
    <button>Login to apply!</button>
{% endif %}
<br>
<a href="https://pdf-ace.com/pdfme/" target= "_blank">Save as PDF</a>
<br>
<button><a href="{{url_for('project_list')}}">Back to project list</a></button>
{% endblock %}