{% extends "base.html" %}

{% block content %}
<div style="text-align: center; margin-top: 5%;"> 

    <!--Say hi to user-->
    <h1> Hi, {{ current_user.name }} !</h1>

    <!--Apply button-->
    <!--After application should say "Update application details", 
    and "Apply for project button" appears as well-->
    <h2>
        <a class="hover-button" href="{{ url_for('student_appl') }}"> 
            Enter application details </a> 
    </h2>

    <!--Navigation-->
    <div style="text-align: center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#!" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#!">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#!">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#!">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#!">Next</a>
                </li>
            </ul>
        </nav>
    </div>

</div>
{% endblock %}