
{% extends "base.html" %}

{% block content %}
<body>

    <!-- Title -->
    <h1>{% block user_title %}{% endblock %} Application Page</h1>

    <!-- Body -->
    <h4>Welcome the application page for {% block user_name %}{% endblock %}s.</h4>
    <h4>Please press "Start" and answer the questions that follow.</h4>
    {% block extra_body %}
    {% endblock %}

    <!-- Start button -->
    <hr>
    <form action="{% block start_url %}{% endblock %}/pg1outof{% block max %}{% endblock %}">
        <button type="submit">Start</button>
    </form>

</body>

<br>
<br>
<br>
{% endblock %}

